.hero {
  background-color: var(--color-dark-blue);
}

.hero__container {
  padding: 2rem 4rem;
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.hero h1 {
  color: var(--color-white);
  text-align: center;
  font-size: 6rem;
}

.hero h1 span {
  color: var(--color-ligth-blue);
}

.hero img {
  width: 50%;
}

@media screen and (min-width: 960px) {
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }

  .hero h1 {
    font-size: 9.6rem;
    text-align: left;
  }
  .hero img {
    width: 35%;
  }
}
