.contact {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.contact__container {
  padding: 2rem 4rem 8rem 4rem;
}

.contact h2 {
  font-size: 4.2rem;
  text-align: center;
  margin-block: 5rem;
}

@media screen and (min-width: 960px) {
  .contact__container {
    display: flex;
    align-items: start;
    gap: 10rem;
    padding-block: 8rem;
  }

  .contact h2 {
    font-size: 6.4rem;
    margin-block: 1rem;
  }
}
